RAILS_ENV=production
RAILS_LOG_LEVEL=info
RAILS_SERVE_STATIC_FILES=true
RAILS_FORCE_SSL=false
RAILS_ASSUME_SSL=false
APP_HOST=localhost
PORT=3000
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_DISCOVERY_PORT=44737
MQTT_USERNAME=victory_garden
MQTT_PASSWORD=replace-me
SOLID_QUEUE_IN_PUMA=1
SECRET_KEY_BASE=replace-me
RUBY_SERVICE_DATABASE_PASSWORD=replace-me
RAILS_MASTER_KEY=replace-me
